body{
  background-color: sienna;
  background-image: url(backphoto.jpg);
  font-family: monospace, Halvetica, sans-serif;

}
header #topani{
  -webkit-animation: animate;
  -webkit-animation-duration: 3s;
  animation: animate;
  animation-duration:3s;
  position: relative;
  animation-fill-mode: forwards;
  font:Snell Roundhand, cursive;
  font-size: 1vw;
  color: rosybrown;
  width:0;
  max-width:0;
  display: inline;
}
@-webkit-keyframes animate {
    from {left: 0px;}
    to {left: 47%;}
}
@keyframes animate {
    from {left: 0px;}
	to {left: 47%;}
}

.armchairbox {
  position: relative;
  width: 60%;
  left: 36%;
  display: inline-block;
}
.a1 {
  position: relative;
  width: 50%;
}
.over{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  background-color:	steelblue;
  overflow: hidden;
  width: 0;
  height: 100%;
}
.armchairbox:hover .over{
  width:50%;
}
.a2{
  position: relative;
  width: 50%;
}
.over2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  background-color: teal;
  overflow: hidden;
  width: 0;
  height: 100%;
}
.armchairbox:hover .over2{
  width:50%;
}

.text {
  color: white;
  font-size: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

