body{
  font-family: Arial, Halvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-image:url(main.jpg);
  background-size: cover;
}
.container{
  color: white;
  width: 80%;
  overflow: hidden;
}

header{

  padding-top: 4px;
  min-height: 30px;
  border-bottom: darkkhaki 3px solid;
  font-style: italic;
  font: bickley;
}
header a{
  color: white;
  test-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font: monospace;
}
header li{
  folat: right;
  display: inline;
  padding: 0 20px 0 20px;

}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: left;
}
section .showcase {
  background-color: darkgreen;
}
